.box {
  height: 110vh;
  padding: 3em;
  overflow: hidden;
}

.row {
  margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 1.5em;
    }
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 1.6em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 1.7em;
  }
}
