<div class="navbar background-red hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="index.html" class="navbar-item sliding-middle-out">Projects</a>
        <a href="skills.html" class="navbar-item sliding-middle-out">Skills</a>
        <a href="about.html" class="navbar-item sliding-middle-out">About</a>
        <a href="contact.html" class="navbar-item sliding-middle-out">Contact</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>Samuel Rodríguez</h1>
      </div>
    </div>
  </div>
</div>

<div class="navbar background-red hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Samuel Rodríguez</h1>
      </div>
    <div class="row">
      <div class="col-xs-12 navbar-container">
        <a href="index.html" class="navbar-item sliding-middle-out">Projects</a>
        <a href="skills.html" class="navbar-item sliding-middle-out">Skills</a>
        <a href="about.html" class="navbar-item sliding-middle-out">About</a>
        <a href="contact.html" class="navbar-item sliding-middle-out">Contact</a>
      </div>
    </div>
    </div>
  </div>
</div>
