<svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
  <image xlink:href="svg.svg" src="sketch.png" />
  <g>
    <title>background</title>
      <rect x="1" y="1" width="333.42857" height="230.571428" id="canvas_background" fill-opacity="0" fill="#044B94"/>
      <g id="canvasGrid" display="none">
      <rect id="svg_2" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
      </g>
      </g>
      <g>
      <title>Layer 1</title>


    <line path class="path" fill="none" stroke-width="2.5" x1="101.714286" y1="78.857143" x2="147.428572" y2="78.285714" id="svg_8" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/>

    <line path class="path" fill="none" stroke="#ffffff" stroke-width="2.5" x1="162.857144" y1="78.285714" x2="202.857144" y2="78.285714" id="svg_10" stroke-linejoin="undefined" stroke-linecap="undefined"/>

    <line path class="path" fill="none" stroke-width="2.5" x1="216.57143" y1="78.285714" x2="251.428571" y2="78.285714" id="svg_12" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/>

    <line path class="path" fill="none" stroke="#ffffff" stroke-width="2.5" x1="405.142858" y1="94.857143" x2="472.000001" y2="94.285714" id="svg_13" stroke-linejoin="undefined" stroke-linecap="undefined"/>

    <line path class="path" fill="none" stroke-width="2.5" x1="82.857124" y1="125.714286" x2="495.999991" y2="125.714286" id="svg_14" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/>

    <line path class="path" fill="none" stroke-width="2.5" x1="293.714287" y1="126.285714" x2="293.714287" y2="305.714285" id="svg_15" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/>

    <rect path class="path" fill="none" stroke="#ffffff" stroke-width="2.5" x="141.714287" y="166.857143" width="42.857143" height="88.571429" id="svg_16"/>

    <rect path class="path" fill="none" stroke-width="2.5" x="203.428573" y="166.85714" width="40" height="88.000001" id="svg_17" stroke="#ffffff"/>

    <rect path class="path" fill="none" stroke-width="2.5" x="264.571427" y="166.857141" width="28.571426" height="88.571427" id="svg_18" stroke="#ffffff"/>

    <rect path class="path" fill="none" stroke-width="2.5" fill-opacity="null" x="316.000001" y="168.000002" width="158.285714" height="87.428566" id="svg_19" stroke="#ffffff"/>

    <rect path class="path2" fill="none" stroke="#ffffff" stroke-width="2.5" x="82.5" y="58" width="414" height="248" id="svg_1"/>

  </g>
</svg>
