---
title: Samuel Rodríguez | About
---

<div class="row">
  <div class="col-xs-12 col-md-10 box-about">
    <p  class="background-white">
      I’m a full stack web developer based in Oslo, Norway. I studied Translation and Publishing, and I've always been interested in the technical side of things. In 2015, I started teaching myself how to code and a year later I took a bootcamp in web development at Le Wagon, Brussels. During the last three weeks of the course and together with three other developers, I started Bookaround, which is an application to sell and exchange books in your neighbourhood.
    </p>
    <p class="background-white">
      I am  especially interested in Computational Linguistics, AI and any tech with a positive social and environmental impact.
    </p>
      <a href="../pdfs/Samuel_Rodriguez_CV.pdf" class="background-red hover-link">View CV</a>
    <div>
      <%= image_tag 'samuel_rodriguez.jpg', class: 'img-resize' %>
    </div>
</div>
