---
title: Samuel Rodríguez | Contact
---

<div class="row">
  <div class="col-xs-12 box background-yellow">
      <div class="form-group col-sm-6 col-sm-offset-3">
      <!-- github -->
      <div class="text-center">
        <a href="https://github.com/vondersam" target="_blank">
          <i class="fa fa-github fa-5x in-black" aria-hidden="true"></i>
        </a>
        <p>or</p>
      </div>
      <!-- form -->
        <form action="https://formspree.io/samuelyret@gmail.com" method="POST">
          <div class="form-group">
            <input type="email" name="_replyto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" id="exampleTextarea" rows="3">
          </div>
          <div class="form-group">
            <textarea name="body" placeholder="Message" class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <button type="submit" class="btn background-black center-block">Submit</button>
          <input type="hidden" name="_next" value="thanks.html" />
        </div>
      </form>
    </div>
</div>

<!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Email</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <textarea required="required"></textarea>
      <label class="control-label" for="textarea">Textarea</label><i class="bar"></i>
    </div>

    <div class="button-container">
      <button class="button" type="button"><span>Submit</span></button>
    </div>
  </div>
</div> -->
