---
title: Samuel Rodríguez | Projects
---

<div class="row">
  <div class="col-xs-12 col-sm-6 box background-blue">
    <h3>Bookaround</h3>
    <p>Mobile-first web app built with Ruby on Rails</p>
    <div class="row row-container carousel">
      <div class="col-xs-4">
        <%= image_tag 'bookaround_1.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'bookaround_2.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'bookaround_3.png', class: 'img-responsive' %>
      </div>
    </div>
   </div>
  <div class="col-xs-12 col-sm-6 box background-green">
    <h3>This website</h3>
    <p>Static website built with Middleman</p>
    <div class="row">
      <div class="col-xs-12 svg-container">
        <%= partial 'sketch' %>
      </div>
    </div>
  </div>
</div>
