---
title: Samuel Rodríguez | Projects
---
<div class="row">

  <a href="http://bookaround.org/" target="_blank">
    <div class="col-xs-12 col-sm-6 box background-blue">
      <h3>Bookaround</h3>
      <p>Mobile-first web app built with Ruby on Rails</p>
      <div class="row row-container">
        <div class="carousel">
          <div class="col-xs-4">
            <img src="images/bookaround_1.png" srcset="images/bookaround_1.png 3x, images/bookaround_1_s.png 1x", class='img-responsive'>
          </div>
          <div class="col-xs-4">
            <img src="images/bookaround_2.png" srcset="images/bookaround_2.png 3x, images/bookaround_2_s.png 1x", class='img-responsive'>
          </div>
          <div class="col-xs-4">
            <img src="images/bookaround_3.png" srcset="images/bookaround_3.png 3x, images/bookaround_3_s.png 1x", class='img-responsive'>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="col-xs-12 col-sm-6 box background-green">
    <h3>This website</h3>
    <p>Static website built with Middleman</p>
    <div class="row">
      <div class="col-xs-12 svg-container">
        <%= partial 'sketch' %>
      </div>
    </div>
  </div>
</div>


