---
title: Samuel Rodríguez | Skills
---

<div class="row">

  <div class="col-xs-12 col-sm-6 box-skills background-blue">
    <i class="devicon-ruby-plain"></i>
    <h3>Ruby</h3>
    <p>I use Ruby on Rails for my dynamic web applications and Middleman for static websites.</p>
  </div>

  <div class="col-xs-12 col-sm-6 box-skills background-yellow">
    <i class="devicon-javascript-plain"></i>
    <h3>JavaScript</h3>
    <p>I mainly use JQuery and React. I'm also currently learning React Native.</p>
  </div>

  <div class="col-xs-12 col-sm-4 box-skills background-yellow">
    <i class="devicon-postgresql-plain"></i>
    <h3>SQL</h3>
    <p>On the database side, I know SQL and mainly use PostgresSQL for my RoR applications.</p>
  </div>

  <div class="col-xs-12 col-sm-4 box-skills background-red">
    <i class="devicon-html5-plain"></i>
    <h3>HTML5</h3>
    <p>I follow the latest conventions of the W3C and use HTML5.</p>
  </div>

  <div class="col-xs-12 col-sm-4 box-skills background-green">
    <i class="devicon-css3-plain"></i>
    <h3>CSS3</h3>
    <p>I mainly use SASS and SCSS for the most complex dynamic applications.</p>
  </div>

  <div class="col-xs-12 col-sm-3 box-skills background-green">
    <i class="devicon-bootstrap-plain"></i>
    <h3>Bootstrap</h3>
    <p>With an extensive documentation and an active community, Bootstrap is currently the best option for responsive design.</p>
  </div>
  <div class="col-xs-12 col-sm-3 box-skills background-blue">
    <i class="devicon-git-plain"></i>
    <h3>Git</h3>
    <p>For apps built in teams. As online repository, I use Github.</p>
  </div>
  <div class="col-xs-12 col-sm-3 box-skills background-yellow">
    <i class="devicon-heroku-original"></i>
    <h3>Heroku</h3>
    <p>Heroku offers easy to use and great implementation when you work with RoR.</p>
  </div>
  <div class="col-xs-12 col-sm-3 box-skills background-red">
    <i class="devicon-apple-original"></i>
    <h3>Apple</h3>
    <p>MacBook Pro - OS El Capitan</p>
  </div>
</div>
