---
title: Samuel Rodríguez | Takk
---

<div class="row">
  <div class="col-xs-12 box background-green text-center">
    <p>Thanks for getting in contact!</p>
    <p>I'll get back to you as soon as possible.</p>
  </div>
</div>

